[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
ipython = "*"
mypy = "*"
requests = "*"
flake8 = "*"
types-requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
